/* Left transition */
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right:0;
}
/* Styling for the popup */
#confirm p {
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}